.banner {
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#banner-wpi {
    background-image: url('images/banner-wpi.jpg');
}

#banner-amherst {
    background-image: url('images/banner-amherst.jpg');
}

#banner-clark {
    background-image: url('images/banner-clark.jpg');
}

main > div:last-child {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
}

section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--background2);
    padding: 20px;
    border-radius: 12px;
}

section h1 {
    color: #c3102f;
}

section p {
    font-size: 18px;
}

section img {
    border-radius: 6px;
    width: 30%;
}

#overview > div {
    display: flex;
    gap: 20px;
}

#overview > div > div {
    display: flex;
    flex-direction: column;
    width: 60%;
    gap: 20px;
}

#overview img {
    width: 40%;
}

main > div:last-child > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

@media (max-width: 1000px) {
    main > div:last-child {
        padding: 10px;
    }

    section {
        padding: 10px;
    }

    #overview > div {
        flex-direction: column;
    }

    #overview > div > div {
        width: 100%;
    }

    #overview img {
        width: 100%;
    }

    main > div:last-child > div {
        grid-template-columns: 1fr;
    }
}
