.banner {
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#banner-wpi {
    background-image: url('images/banner-wpi.jpg');
}

#banner-amherst {
    background-image: url('images/banner-amherst.jpg');
}

#banner-clark {
    background-image: url('images/banner-clark.jpg');
}

main > div:last-of-type {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
}

section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--background2);
    padding: 20px;
    border-radius: 12px;
    border: 1px solid var(--background3);
}

h1 {
    color: #c3102f;
}

h2 {
    font-size: 18px;
    background-color: var(--background2);
}

p {
    font-size: 18px;
}

section a {
    color: var(--foreground);
}

section img {
    border-radius: 6px;
    width: 30%;
}

#overview > div {
    display: flex;
    gap: 20px;
}

#overview > div > div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#overview img {
    width: 550px;
    height: 350px;
}

main > div:last-of-type > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

#programs img {
    width: 100%;
}

#cost > div,
#time > div {
    display: grid;
    gap: 2px;
    background-color: var(--background3);
}

#cost > div {
    grid-template-columns: 1fr 1fr;
}

#time > div {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#cost > div p,
#cost > div h2,
#time > div p,
#time > div h2 {
    background-color: var(--background2);
    padding: 10px;
}

#scholarship div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media (max-width: 1400px) {
    #overview > div {
        flex-direction: column;
    }

    #overview img {
        width: 100%;
        height: auto;
    }

    main > div:last-of-type > div {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 1000px) {
    main > div:last-of-type {
        padding: 10px;
        gap: 10px;
    }

    main > div:last-of-type > div {
        gap: 10px;
    }

    section {
        padding: 10px;
    }
}
