nav {
    position: fixed;
    height: 100vh;
    width: 280px;
    padding: 12px;
    gap: 12px;
    background-color: var(--background2);
}

nav a {
    display: flex;
    color: var(--foreground);
    text-decoration: none;
    font-size: 18px;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}

nav a:hover {
    background-color: var(--background3);
    transition: background-color 0.1s;
}

.active {
    color: var(--accent);
}
