/*****************************************************
 * CSS File for Eric Edwards' College Pages
 * 5/25/2022
 *By: Eric Edwards
 *****************************************************/
/* Variables for background colors related to the specific colleges. */
:root {
    --FitchburgGreen: #00563f;
    --FitchburgYellow: #ccb030;
    --EndicottGreen: #014935;
    --EndicottBlue: #002d52;
    --WPIRed: #ac2b37;
}

main {
    display: flex;
    flex-direction: column;
}

/* Banner and Footer items, with colors and content positioning */
header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(133, 167, 206);
}

header > img {
    width: 40%;
}

footer {
    display: flex;
    justify-content: center;
    background-color: rgb(8, 8, 8);
}

/*****************************************************
Article CSS, both the container and all the sections within
*****************************************************/
article {
    display: flex;
    flex-direction: column;
}

/* The 3 college classes to set the page's background color to main */
.endicott {
    background-color: var(--EndicottBlue);
}

.fitchburg {
    background-color: var(--FitchburgGreen);
}

.wpi {
    background-color: var(--WPIRed);
}

/* Style for each section, both the whitespace and informational sections. Spacing and Positioning
 * Includes the transition used by the JavaScript File, giving it the time to transition.*/
.section {
    width: 98%;
    margin: 1%;
    padding: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.2em;
    opacity: 0;
    transition: opacity 1.2s;
}

/* The First section is always visible. I just decided that I wanted it to always be there. */
#first {
    opacity: 1;
}

.whitespace {
    height: 7.5vw;
}

.item {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}

/* Images will stay in the correct aspect ratio, and height is locked to ensure that the images adhere to the aspect ratio. */
.section > img {
    width: 40%;
    height: max-content;
    border-radius: 5px;
    aspect-ratio: 16/9;
    margin: auto;
}

.information {
    border: black 5px solid;
    border-radius: 40px;
    background-color: #38393d;
    box-shadow: 0px 6px 2px 3px rgba(0, 0, 0, 0.5);
}

/* specifies section colors for endicott and fitchburg as they have a 2nd color that can be utilized, unlike WPI. */
.endicott .information {
    background-color: var(--EndicottGreen);
}

.fitchburg .information {
    background-color: var(--FitchburgYellow);
    color: black;
}

/* Link Styling, to make it easy to know when you are clicking on a link. */
main a {
    color: white;
    border-radius: 12px;
    padding: 4px;
}

.fitchburg a {
    color: rgb(34, 34, 156);
}

main a:hover {
    background-color: white;
}

.fitchburg a:hover {
    color: var(--FitchburgGreen);
}

.wpi a:hover {
    color: var(--WPIRed);
}

.endicott a:hover {
    color: var(--EndicottBlue);
}

p {
    padding: 0.2em;
}

h2 {
    padding: 0.4em;
}

h3 {
    padding: 0.3em;
}

/* Special css for specific cases, like the last section needing bottom margin, padding needed on specific paragraphs. Didn't have a specific section. */
.specialItem {
    width: 100%;
}

#information6 {
    margin-bottom: 3.25vw;
}

#specialPara {
    padding-top: 15px;
    padding-bottom: 15px;
}

/*****************************************************
 * Responsiveness for the Website. Includes Mobile, Tablet, Laptop, and Desktop.
 * Anything larger than a small monitor will have the base style.
 *****************************************************/
/* Desktop Responsiveness (smaller monitors) */
@media screen and (max-width: 1640px) {
    .section {
        font-size: 1.05em;
    }

    .section > img {
        width: 50%;
        height: max-content;
    }

    .item {
        width: 50%;
    }
}

/* Laptop Responsiveness */
@media screen and (max-width: 1300px) {
    .section {
        flex-direction: column;
    }

    .section > img {
        width: 70%;
        height: max-content;
    }

    .item {
        width: 100%;
    }
}

/* Tablet Responsiveness */
@media screen and (max-width: 1000px) {
    .section {
        font-size: 1em;
    }

    .section > img {
        width: 80%;
    }
}

/* Mobile Responsiveness */
@media screen and (max-width: 700px) {
    .section {
        font-size: 0.95em;
    }

    .section > img {
        width: 100%;
    }
}
