:root {
    --FitchburgGreen: #00563f;
    --FitchburgYellow: #ccb030;
    --EndicottGreen: #014935;
    --EndicottBlue: #002d52;
    --WPIRed: #ac2b37;
}

main {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(133, 167, 206);
}

header > img {
    width: 40%;
}

footer {
    display: flex;
    justify-content: center;
    background-color: rgb(8, 8, 8);
}

/*
Article CSS, both the container and all the sections within
*/
article {
    display: flex;
    flex-direction: column;
}

.endicott {
    background-color: var(--EndicottBlue);
}

.fitchburg {
    background-color: var(--FitchburgGreen);
}

.wpi {
    background-color: var(--WPIRed);
}

.section {
    width: 100%;
}

.information {
    height: 60px;
}
