body {
    background-color: #3d303a;
    color: honeydew;
}

.container {
    display: grid;
    grid-template-columns: 1.7fr 0.6fr;
    grid-template-rows: 0.1fr 0.1fr;
    grid-template-areas:
        'header_mid header_left'
        'body_mid header_right';
    padding: 2%;
}

.header_mid {
    grid-area: header_mid;
}

.body_mid {
    grid-area: body_mid;
    margin-top: 0;
}

.header_left {
    grid-area: header_left;
}

.header_right {
    grid-area: header_right;
}

a {
    text-decoration: underline;
    color: honeydew;
}

h1 {
    padding-bottom: 1em;
    font-family: 'Courier New', Courier, monospace;
}

h2 {
    padding-bottom: 1em;
    font-family: 'Courier New', Courier, monospace;
}

p {
    font-family: 'Courier New', Courier, monospace;
}

.fullImg {
    width: 100%;
    margin-top: 1em;
    margin-bottom: .75em;
    border-style: solid;
    border-width: 1px;
    border-color: honeydew;
}

