<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Junior Web Final</title>
        <link rel="stylesheet" href="../global.css" />
        <link rel="stylesheet" href="../index.css" />
        <script src="../main.js" defer></script>
    </head>
    <body>
        <nav>
            <a href="../index.html">Home</a>
            <div class="drop-down">
                <button class="drop-down-button">
                    Felipe<img src="../images/arrow.png" />
                </button>
                <div class="drop-down-content">
                    <a href="">college</a>
                    <a href="">college</a>
                    <a href="">college</a>
                </div>
            </div>

            <div class="drop-down">
                <button class="drop-down-button">
                    Wyatt<img src="../images/arrow.png" />
                </button>
                <div class="drop-down-content">
                    <a href="">college</a>
                    <a href="">college</a>
                    <a href="">college</a>
                </div>
            </div>

            <div class="drop-down">
                <button class="drop-down-button">
                    Eduardo<img src="../images/arrow.png" />
                </button>
                <div class="drop-down-content">
                    <a href="">college</a>
                    <a href="">college</a>
                    <a href="">college</a>
                </div>
            </div>

            <div class="drop-down">
                <button class="drop-down-button">
                    Lucas<img src="../images/arrow.png" />
                </button>
                <div class="drop-down-content">
                    <a href="">college</a>
                    <a href="">college</a>
                    <a href="">college</a>
                </div>
            </div>

            <div class="drop-down">
                <button class="drop-down-button">
                    Eric<img src="../images/arrow.png" />
                </button>
                <div class="drop-down-content">
                    <a href="">college</a>
                    <a href="">college</a>
                    <a href="">college</a>
                </div>
            </div>

            <div class="drop-down">
                <button class="drop-down-button">
                    Jaxan<img src="../images/arrow.png" />
                </button>
                <div class="drop-down-content">
                    <a href="">college</a>
                    <a href="">college</a>
                    <a href="">college</a>
                </div>
            </div>

            <div class="drop-down">
                <button class="drop-down-button">
                    Ryan G<img src="../images/arrow.png" />
                </button>
                <div class="drop-down-content">
                    <a href="">college</a>
                    <a href="">college</a>
                    <a href="">college</a>
                </div>
            </div>

            <div class="drop-down">
                <button class="drop-down-button">
                    Austin<img src="../images/arrow.png" />
                </button>
                <div class="drop-down-content">
                    <a href="">college</a>
                    <a href="">college</a>
                    <a href="">college</a>
                </div>
            </div>

            <div class="drop-down">
                <button class="drop-down-button">
                    Tye<img src="../images/arrow.png" />
                </button>
                <div class="drop-down-content">
                    <a href="">college</a>
                    <a href="">college</a>
                    <a href="">college</a>
                </div>
            </div>

            <div class="drop-down">
                <button class="drop-down-button">
                    Kyle S<img src="../images/arrow.png" />
                </button>
                <div class="drop-down-content">
                    <a href="">college</a>
                    <a href="">college</a>
                    <a href="">college</a>
                </div>
            </div>

            <div class="drop-down">
                <button class="drop-down-button">
                    Leandro<img src="../images/arrow.png" />
                </button>
                <div class="drop-down-content">
                    <a href="">college</a>
                    <a href="">college</a>
                    <a href="">college</a>
                </div>
            </div>

            <div class="drop-down">
                <button class="drop-down-button">
                    Shea<img src="../images/arrow.png" />
                </button>
                <div class="drop-down-content">
                    <a href="">college</a>
                    <a href="">college</a>
                    <a href="">college</a>
                </div>
            </div>
        </nav>
    </body>
</html>
