:root {
    --QCCBlue: #0883b8;
    --QCCBlue2: #1245a8;
    --QCCWhite: #ffffff;
    --UlowellRed: #dc143c;
    --UlowellBlue: #00008b;
    --UlowellWhite: #ffffff;
    --FSUGold: #d4af37;
}

main {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(168, 168, 168);
}

header > img {
    width: 40%;
}

footer {
    display: flex;
    justify-content: center;
    background-color: rgb(8, 8, 8);
}

/*
Article css, responsible for sections
*/
article {
    display: flex;
    flex-direction: column;
}

.ulowell {
    background-color: var(--UlowellRed);
}

.quinsigamond {
    background-color: var(--QCCBlue2);
}

.FSU {
    background-color: var(--FSUGold);
}

.section {
    width: 98%;
    margin: 1%;
    padding: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 1.2em;
}

.whitespace {
    height: 2.2 vw;
}

.item {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}

.section > img {
    width: 40%;
    height: max-content;
    border-radius: 5px;
    aspect-ratio: 16/9;
    margin: auto;
}

.information {
    border: black 5px solid;
    border-radius: 40px;
    background-color: #38393d;
    box-shadow: 0px 6px 2px 3px black;
}

.ulowell .information {
    background-color: var(--UlowellBlue);
}

.quinsigamond .information {
    background-color: var(--QCCBlue);
    color: var(--QCCWhite);
}

p {
    padding: 0.2em;
}

h2 {
    padding: 0.4em;
}

h3 {
    padding: 0.3em;
}

@media screen and (max-width: 1640px) {
    .section {
        font-size: 1.05em;
    }

    .section > img {
        width: 50%;
        height: max-content;
    }

    .item {
        width: 50%;
    }
}

@media screen and (max-width: 1300px) {
    .section {
        flex-direction: column;
    }

    .section > img {
        width: 70%;
        height: max-content;
    }

    .item {
        width: 100%;
    }
}

@media screen and (max-width: 1000px) {
    .section {
        font-size: 1em;
    }

    .section > img {
        width: 80%;
    }
}

@media screen and (max-width: 700px) {
    .section {
        font-size: 0.95em;
    }

    .section > img {
        width: 100%;
    }
}
