.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    grid-auto-flow: row;
    grid-template-areas:
        'Title Title'
        'Image Information'
        'Info Image-2'
        'Footer Footer';
}

/* Displays the header in a flex, aligns all aspects of the header to the center, sets its height to auto, sets its max width to 100 percent */
header {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    height: auto;
}

/* Any image files placed inside the header will automatically be displayed with a set height of 400 pixels and a width of 100 percent */
header > img {
    height: 400px;
    width: 100%;
}

/* Displays the Article in a flex, creates a solid rounded border for the Article, displays a background color of Wheat for the Article, and displays no box shadow */
article {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 16px;
    padding: 5px;
    background-color: wheat;
    box-shadow: none;
}

.Image {
    grid-area: Image;
}

/* Displays the text in both the Information and Info containers with the color black and sets the font to Comic Sans MS */
.Information {
    grid-area: Information;
    color: black;
    font-family: 'Comic Sans MS', 'Comic Sans', cursive;
}

.Info {
    grid-area: Info;
    color: black;
    font-family: 'Comic Sans MS', 'Comic Sans', cursive;
    box-shadow: none;
}

.Image-2 {
    grid-area: Image-2;
}
