.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    grid-auto-flow: row;
    grid-template-areas:
        'Title Title'
        'Image Information'
        'Info Image-2'
        'Footer Footer';
}

.container * {
    background-color: blue;
}

.Title {
    grid-area: Title;
}

.Image {
    grid-area: Image;
}

.Information {
    grid-area: Information;
}

.Info {
    grid-area: Info;
}

.Image-2 {
    grid-area: Image-2;
}
