.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    grid-auto-flow: row;
    grid-template-areas:
        'Title Title'
        'Image Information'
        'Info Image-2'
        'Footer Footer';
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    height: auto;
}

header > img {
    height: 400px;
    width: 100%;
}

article {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 16px;
    padding: 5px;
    background-color: wheat;
    box-shadow: none;
}

.Image {
    grid-area: Image;
}

.Information {
    grid-area: Information;
    color: black;
    font-family: 'Comic Sans MS', 'Comic Sans', cursive;
}

.Info {
    grid-area: Info;
    color: black;
    font-family: 'Comic Sans MS', 'Comic Sans', cursive;
    box-shadow: none;
}

.Image-2 {
    grid-area: Image-2;
}
